//Variable
@import './base/variables';
@import './base/base';
//Components
@import './components/header';
@import './components/BookRoom/bookRoom';
@import './components/Comments/comments';
@import './components/Convenient/convenient';
@import './components/BookRoom/bookRoomMobile';
@import './components/header';
//Pages
@import './components/Footer/footer';
@import './pages/login';
@import './pages/register';
@import './pages/profile';
@import './pages/mobileProfile';
@import './pages/detail';
@import'./pages/quanLyThongTinPhong'