//Variable
@import './base/base';
@import './base/variables';
//Components
@import './components/header';
@import './components/BookRoom/bookRoom';
@import './components/Comments/comments';
@import './components/Convenient/convenient';
@import './components/BookRoom/bookRoomMobile';

@import './components/Popper/popperWrapper';
@import './components/Menu/userMenu';
@import './components/header';
@import './components/Datagrid/datagrid';

//Pages
@import './components/Footer/footer';
@import './pages/login';
@import './pages/register';
@import './pages/profile';
@import './pages/mobileProfile';
@import './pages/detail';
