@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', 'Arial', sans-serif;
}


.container{
    max-width: 1309px!important;

}

a {
    text-decoration: none;
    color: #000;
    display: inline-block;
}

a:hover {
    text-decoration: none;
    color: unset;
}

.stroke-cus{
    path{
        stroke-width: 2px;
        stroke: #fff;
    }
}