.detail_comment {
  &-rate {
    display: flex;
    align-items: center;

    .rate_title {
      @include text(22px, 500, #222222);
    }
  }

  &-process {
    padding-right: 90px;
    &-item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 20px;
      .process-text {
        @include text(16px, 400, rgba(34, 34, 34, 0.8));
      }
      .process-item {
        width: 250px;
        height: 5px;
        .process-item-bar {
          background-color: #ff395c;
        }
      }
    }
  }

  &-item {
    padding-right: 90px;
    margin-top: 30px;
    &-name {
      @include text(16px, 500, #222222);
    }
    &-text {
      @include text(16px, 400, rgba(34, 34, 34, 0.8));
    }
  }

  &-write {
    margin-top: 30px;

    &-rate {
      margin: 0 0 20px 55px;

      .rate_text {
        @include text(22px, 500, #222222);
      }
      .rate_star {
        font-size: 20px !important;
        margin-left: 20px;
      }
    }
    &-img {
      img {
        border-radius: 50%;
      }
    }
    &-input {
      width: 100%;
      padding-left: 14px;
      .comment_content {
      }
      .comment_textarea {
        height: 100px;
        width: 100%;
        padding: 10px 20px;
        border-radius: 5px;
        &:focus-visible {
          // outline: #ff395c;
          border: 1px solid #ff395c;
        }
        &::selection {
          // border: 1px solid #ff395c;
          // background: #ff395c;
        }
      }
      .comment_btn-submit {
        width: 120px;
        padding: 10px;
      }
    }
  }
}
