.login {
    @include res-sm {
        .container {
            max-width: 768px !important;
            padding: 30px 0;
        }
    }

    .container {
        max-width: 768px !important;
        padding: 60px 0;

        @include res-md {

            max-width: 600px !important;
            margin: auto;
            padding: 30px 0;
            height: 100vh;
        }

        @include res-sm {

            max-width: 350px !important;
        }

        h3 {
            @include text ($text-3xl, $text-bold, #ff385c)
        }

        div {
            p {
                padding: 10px 0;
            }

            input {}
        }

        .footer_login {
            padding: 10px 0;

            button {
                background: #ff385c;

                &:hover {
                    background: #ff385c75;
                }
            }

            a {
                color: #FFF !important;
            }
        }
    }
}