.login {
    .container {
        max-width: 768px !important;
        padding: 60px 0;

        h3 {
            @include text ($text-3xl, $text-bold, #ff385c)
        }

        div {
            p {
                padding: 10px 0;
            }

            input {}
        }

        .footer_login {
            padding: 10px 0;

            button {
                background: #ff385c;

                &:hover {
                    background: #ff385c75;
                }
            }

            a {
                color: #FFF !important;
            }
        }
    }
}